name: xdem-dev
channels:
  - conda-forge
dependencies:
  - python>=3.9
  - geopandas>=0.10.0
  - fiona
  - shapely
  - numba
  - numpy
  - matplotlib
  - pyproj>=3.4
  - rasterio>=1.3
  - scipy
  - tqdm
  - scikit-image
  - scikit-gstat>=1.0
#  - geoutils=0.0.15

  # Development-specific, to mirror manually in setup.cfg [options.extras_require].
  - pip

  # Optional dependencies
  - opencv
  - openh264
  - pytransform3d
  #  - richdem

  # Test dependencies
  - pytest
  - pytest-xdist
  - pyyaml
  - flake8
  - pylint

  # Doc dependencies
  - sphinx
  - pydata-sphinx-theme==0.13.3
  - sphinx-book-theme>=1.0
  - sphinxcontrib-programoutput
  - sphinx-design
  - sphinx-autodoc-typehints
  - sphinx-gallery
  - autovizwidget
  - graphviz
  - myst-nb
  - numpydoc

  - pip:
    - -e ./

    # Optional dependencies
    - noisyopt

    # To run CI against latest GeoUtils
    - git+https://github.com/GlacioHack/geoutils.git
