name: xdem-dev
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - proj>=7.2
  - geopandas >= 0.10.0
  - fiona
  - shapely
  - numba
  - numpy
  - matplotlib
  - opencv
  - pyproj
  - rasterio>=1.3
  - scipy
  - tqdm
  - scikit-image
  - proj-data
  - scikit-gstat>=0.6.8
  - pytransform3d

  # Development-specific
  - autovizwidget
  - pytest
  - pytest-xdist
  - sphinx
  - sphinx_rtd_theme
  - numpydoc
  - sphinxcontrib-programoutput
  - flake8
  - sphinx-autodoc-typehints
  - sphinx-gallery
  - pyyaml
  - richdem

  - pip:
    - git+https://github.com/GlacioHack/geoutils.git
