sphinx
numpydoc
sphinx-book-theme
myst-parser
sphinx_autodoc_typehints
sphinxcontrib-programoutput
numpy
autovizwidget
fiona
shapely
scipy
rasterio
pyproj
tqdm
geoutils
scikit-gstat
flake8
opencv-contrib-python
sphinx-gallery
pyyaml
