sphinx
numpydoc
sphinx_rtd_theme
sphinx_autodoc_typehints
sphinxcontrib-programoutput
numpy
autovizwidget
fiona
shapely
scipy
rasterio
pyproj
tqdm
git+https://github.com/GlacioHack/geoutils.git
scikit-gstat
flake8
opencv-contrib-python
sphinx-gallery
