name: xdem-dev
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.13
  - geopandas>=0.12.0
  - numba=0.*
  - numpy=1.*
  - matplotlib=3.*
  - pyproj>=3.4,<4
  - rasterio>=1.3,<2
  - scipy=1.*
  - tqdm
  - scikit-image=0.*
  - scikit-gstat>=1.0.18,<1.1
  - xarray
  - rioxarray=0.*
  - geocube
  - dask
  - geoutils=0.1.10

  # Development-specific, to mirror manually in setup.cfg [options.extras_require].
  - pip

  # Optional dependencies
  - pytransform3d

  # Test dependencies
  - gdal  # To test against GDAL
  - pytest
  - pytest-xdist
  - pyyaml
  - flake8
  - pylint
  - richdem

  # Doc dependencies
  - sphinx
  - pydata-sphinx-theme
  - sphinx-book-theme>=1.0
  - sphinxcontrib-programoutput
  - sphinx-design
  - sphinx-autodoc-typehints
  - sphinx-gallery
  - autovizwidget
  - graphviz
  - myst-nb
  - numpydoc

  - pip:
    # Optional dependency
    - -e ./

    # "Headless" needed for opencv to install without requiring system dependencies
    - opencv-contrib-python-headless

    # To run CI against latest GeoUtils
#    - git+https://github.com/rhugonnet/geoutils.git
