name: xdem-dev
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - proj>=7.2
  - fiona
  - shapely
  - autovizwidget
  - numba
  - numpy
  - matplotlib
  - opencv
  - pyproj
  - rasterio<=1.2.10
  - scipy
  - tqdm
  - scikit-image
  - richdem
  - proj-data
  - scikit-gstat>=0.6.8
  - pytransform3d
  - gdal=3.5.0

  # Development-specific
  - pytest
  - pytest-xdist
  - sphinx
  - sphinx_rtd_theme
  - numpydoc
  - sphinxcontrib-programoutput
  - flake8
  - sphinx-autodoc-typehints
  - sphinx-gallery

  - pip:
    - git+https://github.com/GlacioHack/geoutils.git

