name: xdem-dev
channels:
  - conda-forge
dependencies:
  - python>=3.9,<3.12
  - geopandas>=0.12.0
  - numba=0.*
  - numpy=1.*
  - matplotlib=3.*
  - pyproj>=3.4,<4
  - rasterio>=1.3,<2
  - scipy=1.*
  - tqdm
  - scikit-image=0.*
  - scikit-gstat>=1.0
  - geoutils>=0.1.2

  # Development-specific, to mirror manually in setup.cfg [options.extras_require].
  - pip

  # Optional dependencies
  - pytransform3d
  - richdem

  # Test dependencies
  - pytest
  - pytest-xdist
  - pyyaml
  - flake8
  - pylint

  # Doc dependencies
  - sphinx
  - pydata-sphinx-theme
  - sphinx-book-theme>=1.0
  - sphinxcontrib-programoutput
  - sphinx-design
  - sphinx-autodoc-typehints
  - sphinx-gallery
  - autovizwidget
  - graphviz
  - myst-nb
  - numpydoc

  - pip:
    - -e ./

    # Optional dependencies
    - noisyopt
    - opencv-python-headless

    # To run CI against latest GeoUtils
#    - git+https://github.com/rhugonnet/geoutils.git@fix_to_points
