name: xdem-dev
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.14
  - geopandas>=0.12.0
  - numba=0.*
  - numpy>=1,<3
  - matplotlib=3.*
  - pyproj>=3.4,<4
  - rasterio>=1.3,<2
  - scipy=1.*
  - tqdm
  - geoutils=0.2.0
  - affine
  - pandas
  - pyogrio
  - shapely
  - cerberus
  - pyyaml
  - weasyprint

  # Development-specific, to mirror manually in setup.cfg [options.extras_require].
  - pip

  # Optional dependencies
  - pytransform3d
  - scikit-learn

  # Test dependencies
  - pytest
  - pytest-xdist
  - pytest-instafail
  - pytest-socket
  - pytest-cov
  - coveralls
  - flake8
  - pylint
  - pre-commit

  # Doc dependencies
  - sphinx
  - sphinx-book-theme
  - sphinxcontrib-programoutput
  - sphinx-design
  - sphinx-autodoc-typehints
  - sphinx-gallery
  - autovizwidget
  - graphviz
  - myst-nb
  - numpydoc
  - sphinx-tabs

  - pip:
      # Optional dependencies with Pip
      # SciKit-GStat temporarily here until Conda version supports Python 3.13
      - scikit-gstat>=1.0.18

      - -e ./

    # To run CI against latest GeoUtils
#    - git+https://github.com/rhugonnet/geoutils.git
