sphinx
numpydoc
sphinx_rtd_theme
sphinx_autodoc_typehints
sphinxcontrib-programoutput
numpy
scipy
rasterio
geopandas
pyproj
tqdm
git+https://github.com/GlacioHack/GeoUtils.git
scikit-gstat
flake8
opencv
