name: xdem
channels:
  - conda-forge
dependencies:
  - python>=3.9,<3.12
  - geopandas>=0.12.0
  - numba=0.*
  - numpy=1.*
  - matplotlib=3.*
  - pyproj>=3.4,<4
  - rasterio>=1.3,<2
  - scipy=1.*
  - tqdm
  - scikit-image=0.*
  - scikit-gstat>=1.0
#  - geoutils=0.1.*
  - pip

   # To run CI against latest GeoUtils
  - pip:
    - git+https://github.com/rhugonnet/geoutils.git@fix_to_points
