name: xdem
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - proj>=7.2
  - geopandas>=0.10.0
  - fiona
  - shapely
  - numba
  - numpy
  - matplotlib
  - opencv
  - openh264
  - pyproj>=3.4
  - rasterio>=1.3
  - scipy
  - tqdm
  - scikit-image
  - scikit-gstat>=0.6.8
  - pytransform3d
  - geoutils==0.0.11
  - pip

  - pip:
    - noisyopt


#  - pip:
#     - git+https://github.com/GlacioHack/GeoUtils.git
