name: xdem
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - geopandas>=0.10.0
  - fiona
  - shapely
  - numba
  - numpy
  - matplotlib
  - pyproj>=3.4
  - rasterio>=1.3
  - scipy=1.11.0
  - tqdm
  - scikit-image
  - scikit-gstat>=1.0
  - geoutils=0.0.15
  - pip

#  - pip:
#     - git+https://github.com/GlacioHack/geoutils.git
