name: xdem
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - proj>=7.2
  - geopandas>=0.10.0
  - fiona
  - shapely
  - numba
  - numpy
  - matplotlib
  - opencv
  - openh264=2.3.0
  - pyproj
  - rasterio>=1.3
  - scipy
  - tqdm
  - scikit-image
  - proj-data
  - scikit-gstat>=0.6.8
  - pytransform3d

  - pip:
      - git+https://github.com/GlacioHack/geoutils.git
