name: xdem
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.14
  - geopandas>=0.12.0
  - numba=0.*
  - numpy>=1,<3
  - matplotlib=3.*
  - pyproj>=3.4,<4
  - rasterio>=1.3,<2
  - scipy=1.*
  - tqdm
  - geoutils=0.1.17
  - affine
  - pandas
  - pyogrio
  - shapely
  - pip

  # To run CI against latest GeoUtils
#  - pip:
#    - git+https://github.com/rhugonnet/geoutils.git
